.dark * {
    color: white;
}

.bg-image{
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body{
    background: rgb(226, 231, 235);
}

.dark .card {
    background-color: #0f172a;
}

.dark .card-body {
    background-color: #0f172a;
}

.text-uppercase{
    color: #BE8C01;
    font: weight 300 ;
    
}

.card{
    overflow: hidden;
    margin: 20PX;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-control-lg:hover{
    box-shadow: #BE8C01 0px 54px 55px, #BE8C01 0px -12px 30px, #BE8C01 0px 4px 6px, #BE8C01 0px 12px 13px, #BE8C01
}

.paragraphe{
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

.paragraphe-h4{
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

.paragraphe-blockquote{
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

.paragraphe-article{
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

.paragraphe-strong{
    color: green;
    font-size: 13px;
    font-weight: bolder;
}

.paragraphe-span{
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

.paragraphe-bold{
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #BE8C01 !important;
    --bs-btn-border-color: #BE8C01 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E9B301 !important;
    --bs-btn-hover-border-color: #E9B301 !important;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E9B301 !important;
    --bs-btn-active-border-color: #E9B301 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #BE8C01 !important;
    --bs-btn-disabled-border-color: #BE8C01 !important;
  }

  .gap-2{
    margin-bottom: 20px;
  }

  .note{
    font-size: 11px;
    margin-top: 30px;
    text-align: center;
  }

  #theme-toggle {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
    background-color: #f0b90061;
  }